.text-block {
  p {
    margin-top: var(--fluid-16-20);
    line-height: 1.6;
  }

  u * {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  ul li {
    position: relative;
    transform: translateX(10px);

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: -10px;
      width: 5px;
      height: 5px;
      background: var(--color-primary);
      border-radius: 50%;
    }
  }

  a {
    @extend %link;
  }
}
