.section-title {
  text-align: center;

  &._left {
    text-align: left;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1, h2, .h1 {
  font-size: 48px;
}

.h2 {
  font-size: 48px;
}

h3, .h3 {
  font-size: var(--font-20);
}
