section.speakers-info
  .container
    .speakers-info__content
      .section-top
        +icon('sun')(width='12' height='13')
        span the lineup
      .speakers-info__text
        p.speakers-info__title More than 75 speakers from around the globe will join us at Config 2024 to share how they’re thinking, what they’re making, and what's next.
        p.speakers-info__paragraph Attendees will leave feeling more connected to a community of builders and to the future of product development.
