.lineup {
  background: $pink;

  &__content {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 400px;

    p {
      font-size: var(--font-24);
    }
  }

  &__right {
    font-size: var(--font-96);
    line-height: 1.2;
  }
}
