.sponsors {
  background: $beige;
  padding-bottom: 100px;

  &__text {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 680px;

    p {
      font-size: var(--font-24);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 60px;

    &-item {
      transition: var(--transition);

      @include hover-active {
        transform: scale(1.03);
        box-shadow: $shadow;
      }
    }

    a {
      display: flex;
    }
  }

  .button {
    margin: 60px auto 0;
  }
}
