@keyframes animateLogo {
  0% {
    fill: $blue-light;
  }
  30% {
    fill: $orange;
  }
  60% {
    fill: $yellow;
  }
  90% {
    fill: $beige;
  }
  100% {
    fill: $blue-light;
  }
}

//c
@keyframes logo-c-rectangle {
  from {
    opacity: 0;
    transform: scale(1) rotate(45deg);
    rx: 15;
  }
  30% {
    transform: scale(4) rotate(30deg);
  }
  50% {
    opacity: 1;
    transform: scale(4) rotate(45deg);
    rx: 5;
  }
  70% {
    transform: scale(4) rotate(30deg);
    rx: 15;
  }
  to {
    opacity: 0;
    transform: scale(1) rotate(45deg);
    rx: 15;
  }
}

@keyframes logo-c-letter {
  from {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 0;
    transform: scale(.1) rotate(180deg);
  }
  70% {
    opacity: 0;
    transform: scale(.1) rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

//o
@keyframes logo-o-rectangle {
  from {
    opacity: 0;
    transform: scale(1) rotate(45deg);
  }
  30% {
    transform: scale(6) rotate(45deg);
  }
  50% {
    opacity: 1;
    transform: scale(6) rotate(0);
  }
  70% {
    transform: scale(6) rotate(0);
  }
  70% {
    transform: scale(3) rotate(0);
  }
  to {
    opacity: 0;
    transform: scale(1) rotate(-45deg);
  }
}

@keyframes logo-o-letter {
  from {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 0;
    transform: scale(.1) rotate(90deg);
  }
  70% {
    opacity: 0;
    transform: scale(.1) rotate(90deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

//n
@keyframes logo-n {
  from {
    transform: rotate(0);
  }
  30% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(0);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes logo-n-left {
  from {
    transform: translate(0);
  }
  30% {
    transform: translate(36px, -20px);
  }
  70% {
    transform: translate(36px, -20px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes logo-n-right {
  from {
    transform: translate(0);
  }
  30% {
    transform: translate(-36px, -20px);
  }
  70% {
    transform: translate(-36px, -20px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes logo-n-top {
  from {
    transform: translate(0);
  }
  30% {
    transform: translate(0, 65px);
  }
  70% {
    transform: translate(0, 65px);
  }
  to {
    transform: translate(0);
  }
}

//f
@keyframes logo-f-top {
  from {
    transform: translate(0);
  }
  40% {
    transform: translate(0, 65px) rotate(-45deg);
  }
  60% {
    transform: translate(0, 65px) rotate(-45deg);
  }
  to {
    transform: translate(0);
  }
}

@keyframes logo-f-center {
  from {
    transform: translate(0);
  }
  40% {
    transform: translate(0, 0) rotate(45deg);
  }
  60% {
    transform: translate(0, 0) rotate(45deg);
  }
  to {
    transform: translate(0);
  }
}

@keyframes logo-f-bottom {
  from {
    transform: translate(0);
  }
  40% {
    opacity: 0;
    transform: translate(50px, -50px);
  }
  60% {
    transform: translate(50px, -50px);
  }
  to {
    transform: translate(0);
  }
}

//i
@keyframes logo-i-bottom {
  from {
    transform: rotate(45deg) translate(-20px, 40px);
  }
  30% {
    transform: rotate(45deg) translate(-60px, 0px) scale(.5);
  }
  60% {
    transform: rotate(45deg) translate(-60px, 0px);
  }
  80% {
    transform: rotate(45deg) translate(-20px, 40px);
  }
  to {
    transform: rotate(45deg) translate(-20px, 40px);
  }
}

@keyframes logo-i-top {
  from {
    transform: translate(0);
  }
  30% {
    height: 97px;
    transform: translate(0, 60px);
  }
  40% {
    height: 220px;
    transform: translate(0);
  }
  60% {
    height: 220px;
    transform: translate(0) scale(.2);
  }
  80% {
    height: 97px;
    transform: translate(0);
  }
  to {
    transform: translate(0);
  }
}

//g
@keyframes logo-g {
  from {
    transform: rotate(0);
  }
  30% {
    transform: rotate(0);
  }
  45% {
    transform: rotate(45deg);
  }
  55% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(0);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes logo-g-square {
  from {
    transform: translate(0);
  }
  30% {
    transform: translate(24px, 24px);
  }
  70% {
    transform: translate(24px, 24px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes logo-g-triangle {
  from {
    transform: translate(0);
  }
  30% {
    transform: translate(-24px, -24px);
  }
  70% {
    transform: translate(-24px, -24px);
  }
  to {
    transform: translate(0);
  }
}
