-
  var footerColumns = [
    {
      label: 'Menu',
      list: [
        {
          name: 'speakers',
          link: 'speakers.html',
          noArrow: true
        },
        {
          name: 'get tickets',
          link: 'registration.html',
          noArrow: true
        }
      ]
    },
    {
      label: 'Resources',
      list: [
        {
          name: 'Why attend',
          link: '#'
        },
        {
          name: 'FAQ',
          link: '#',
          noArrow: true
        },
        {
          name: 'Sponsors',
          link: '#',
          noArrow: true
        },
        {
          name: 'Hotels',
          link: '#'
        },
        {
          name: 'Visa letters',
          link: '#'
        },
        {
          name: 'Code of conduct',
          link: '#'
        }
      ]
    },
    {
      label: 'Follow',
      list: [
        {
          name: 'X',
          link: '#'
        },
        {
          name: 'LinkedIn',
          link: '#'
        },
        {
          name: 'Instagram',
          link: '#'
        },
        {
          name: 'YouTube',
          link: '#'
        },
      ]
    }
  ]
