-
  var speakers = [
    {
      name: 'Jesper Kouthoofd',
      pronounce: 'he/him',
      post: 'Head of Design & Chief Executive Officer at Teenage Engineering'
    },
    {
      name: 'Karla Mickens Cole',
      pronounce: 'she/her',
      post: 'Product Designer & Brand Lead at The Browser Company'
    },
    {
      name: 'Jenny Arden',
      pronounce: 'she/her',
      post: 'Chief Design Officer at Zillow'
    },
    {
      name: 'Imran Chaudhri',
      pronounce: 'he/him',
      post: 'President & Chief Designer at Humane'
    },
    {
      name: 'Refik Anadol',
      pronounce: 'he/him',
      post: 'Director at Refik Anadol Studios'
    },
    {
      name: 'Neha Batra',
      pronounce: 'she/her',
      post: 'Vice President of Engineering at Github'
    },
    {
      name: 'Alexis Gay',
      pronounce: 'she/her',
      post: 'Comedian'
    },
    {
      name: 'Josh Wardle',
      pronounce: 'he/him',
      post: 'Artist & Software Engineer at Gremco Industries, Creator of Wordle'
    },
    {
      name: 'Aravind Srinivas',
      pronounce: 'he/him',
      post: 'Chief Executive Officer & Co-Founder at perplexity.ai'
    },
    {
      name: 'Jessica Hische',
      pronounce: 'she/her',
      post: 'Lettering Artist at Jessica Hische Inc.'
    },
    {
      name: 'Claire Vo',
      pronounce: 'she/her',
      post: 'Chief Product Officer at LaunchDarkly'
    },
    {
      name: 'Lenny Rachitsky',
      pronounce: 'he/him',
      post: 'Author at Lenny\'s Podcast // Lenny\'s Newsletter'
    },
    {
      name: 'Reginé Gilbert',
      pronounce: 'she/her',
      post: 'James Weldon Johnson Professor at New York University'
    },
    {
      name: 'Andy Allen',
      pronounce: 'he/him',
      post: 'Software Designer at !Boring'
    },
    {
      name: 'Jason Ballard',
      pronounce: 'he/him',
      post: 'CEO & Co-founder at ICON'
    },
    {
      name: 'Saron Yitbarek',
      pronounce: 'she/her',
      post: 'Creator at Not A Designer'
    },
    {
      name: 'Hongyi Li',
      pronounce: 'he/him',
      post: 'Director at Open Government Products',
      leadership: true
    },
    {
      name: 'Diana Mounter',
      pronounce: 'she/her',
      post: 'Head of Design at Github'
    },
    {
      name: 'Kevin Systrom',
      pronounce: 'he/him',
      post: 'Former CEO at Instagram, CEO at Artifact',
      leadership: true
    },
    {
      name: 'Oliver Sommermann',
      pronounce: 'he/him',
      post: 'User Researcher at Ableton'
    },
    {
      name: 'Pablo Sánchez',
      pronounce: 'he/him',
      post: 'Principal Designer at Ableton'
    },
    {
      name: 'Ovetta Sampson',
      pronounce: 'she/her',
      post: 'Director of UX Machine Learning at Google',
      leadership: true
    },
    {
      name: 'Mike Stern',
      pronounce: 'He/him',
      post: 'Design Evangelism Manager at Apple'
    },
    {
      name: 'Linda Dong',
      pronounce: 'She/her',
      post: 'Design Evangelist at Apple'
    }
  ]
