section.registration
  .container
    .section-top.section-top_dark
      +icon('burger')(width='12' height='13')
      span Register
    .registration__content
      p.registration__left Join us in June for
        br
        | Config 2024.
      .registration__right
        p.registration__description Attend in person at
          |
          |
          a.link.link_solid(href='#') Moscone Center
          |
          | in San Francisco. Your ticket includes access to the virtual Config experience too.
        article.registration__card
          a(href='#')
            h2.registration__card-title Single in person ticket
            .registration__card-prices
              p.registration__card-old-price $699
              p.registration__card-price $349.50
            p.registration__card-details Early bird (50% off) while supplies last
        article.registration__card
          a(href='#')
            h2.registration__card-title Multiple in person tickets
            p.registration__card-description Buy 3 tickets, get 1 free! Discount applied at checkout.
            .registration__card-prices
              p.registration__card-old-price $699
              p.registration__card-price $349.50
                |
                |
                span per attendee
        .registration__card-container
          p.registration__description Attend virtually from anywhere.
          article.registration__card
            a(href='#')
              h2.registration__card-title Virtual
              p.registration__card-description Live-streaming online, limit one virtual ticket per attendee.
              .registration__card-prices
                p.registration__card-price Free
