extends ../layouts/main

block variables

block content
  include ../blocks/header/header

  main
    include ../blocks/main/hero-3d
    include ../blocks/main/tickets
    include ../blocks/main/lineup
    include ../blocks/main/sponsors
    include ../blocks/footer/footer-upper
