extends ../layouts/main

block variables

block content
  include ../blocks/header/header-registration

  main
    include ../blocks/registration/registration
    include ../blocks/footer/footer-upper-registration
