extends ../layouts/main

block variables

block content
  include ../blocks/header/header-speakers
  main
    include ../blocks/speakers/speakers-info
    include ../blocks/speakers/speakers
    include ../blocks/footer/footer-upper-speakers
