section.lineup.section
  .container
    .lineup__content
      .lineup__left
        .section-top.section-top_dark
          +icon('sun')(width='12' height='13')
          span join us
        p 2024 will be the most exciting Config yet, with programming designed to connect a dynamic community of builders to the future of product development.
        a(href='#').button.button_blank see all speakers
      ul.lineup__right
        li 75 + Speakers
        li 50 + Sessions
        li 8,000 + Attendees
