section.hero
  .container
    .hero__content
      .hero__top
        .hero__rhombus
        p June 26-27
          br
          | 2024
        p Moscone Center
          br
          | San Francisco, CA
      //+icon('logo', 'logo-sprite')(height='240', width='1260').hero__logo
      include ../main/logo
  .hero__decorations
    img(src='images/main/hero.png', alt='logo.svg').hero__image
