section.tickets.section
  .container
    .section-top
      +icon('hourglass')(width='12' height='13')
      span join us
    .tickets__content
      .tickets__left
        h2 Early bird tickets
          br
          | available now
        p Register now to save 50% and be the first to reserve a seat at the most popular talks.
      a(href='registration.html' target='_blank').button.button_blue Get tickets

