header.header
  .container
    .header__content
      .header__left
        a(href='main.html' target='_blank')
          +icon('logo', 'logo-sprite')(width='207' height='39').header__logo
      .header__right
        a.link(href='speakers.html' target='_blank') Speakers
        a.button.button_grey-text(href='registration.html' target='_blank') Get tickets
