header.header
  .container
    .header__content
      .header__left
        a(href='main.html' target='_blank')
          +icon('logo')(height='38', width='216').header__logo
      .header__right
        a.link(href='speakers.html' target='_blank') Speakers
        a.button(href='registration.html' target='_blank') Get tickets
